@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Inter, system-ui, -apple-system, sans-serif;
  }
  
  body {
    @apply bg-background text-primary;
  }
  
  [dir="rtl"] {
    direction: rtl;
  }
  
  mark {
    @apply bg-highlight;
    padding: 2px 0;
  }
  
  .bg-highlight {
    background-color: #FBBF24 !important;
  }
}
